anyio==3.6.2 ; python_version >= "3.8" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "darwin" or python_version >= "3.8" and python_version < "3.11" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.8" and python_version < "3.11"
argon2-cffi==21.3.0 ; python_version >= "3.8" and python_version < "3.11"
asttokens==2.2.1 ; python_version >= "3.8" and python_version < "3.11"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "3.11"
babel==2.11.0 ; python_version >= "3.8" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.11"
beautifulsoup4==4.11.1 ; python_version >= "3.8" and python_version < "3.11"
bleach==5.0.1 ; python_version >= "3.8" and python_version < "3.11"
blis==0.7.9 ; python_version >= "3.8" and python_version < "3.11"
cachetools==5.2.0 ; python_version >= "3.8" and python_version < "3.11"
catalogue==2.0.8 ; python_version >= "3.8" and python_version < "3.11"
certifi==2022.9.24 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
click==8.1.3 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows" or python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
confection==0.0.3 ; python_version >= "3.8" and python_version < "3.11"
cymem==2.0.7 ; python_version >= "3.8" and python_version < "3.11"
cytoolz==0.12.0 ; python_version >= "3.8" and python_version < "3.11"
debugpy==1.6.4 ; python_version >= "3.8" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.8" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
fastjsonschema==2.16.2 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.8.0 ; python_version >= "3.8" and python_version < "3.11"
huggingface-hub==0.10.1 ; python_version >= "3.8" and python_version < "3.11"
idna==3.4 ; python_version >= "3.8" and python_version < "3.11"
importlib-metadata==5.0.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.10.0 ; python_version >= "3.8" and python_version < "3.9"
ipykernel==6.17.1 ; python_version >= "3.8" and python_version < "3.11"
ipython-genutils==0.2.0 ; python_version >= "3.8" and python_version < "3.11"
ipython==8.7.0 ; python_version >= "3.8" and python_version < "3.11"
jedi==0.18.2 ; python_version >= "3.8" and python_version < "3.11"
jellyfish==0.9.0 ; python_version >= "3.8" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
json5==0.9.10 ; python_version >= "3.8" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.8" and python_version < "3.11"
jupyter-client==7.4.8 ; python_version >= "3.8" and python_version < "3.11"
jupyter-core==5.1.0 ; python_version >= "3.8" and python_version < "3.11"
jupyter-server==1.23.3 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab-server==2.16.3 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab==3.5.1 ; python_version >= "3.8" and python_version < "3.11"
langcodes==3.3.0 ; python_version >= "3.8" and python_version < "3.11"
llvmlite==0.39.1 ; python_version >= "3.8" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.8" and python_version < "3.11"
mistune==2.0.4 ; python_version >= "3.8" and python_version < "3.11"
murmurhash==1.0.9 ; python_version >= "3.8" and python_version < "3.11"
nbclassic==0.4.8 ; python_version >= "3.8" and python_version < "3.11"
nbclient==0.7.2 ; python_version >= "3.8" and python_version < "3.11"
nbconvert==7.2.6 ; python_version >= "3.8" and python_version < "3.11"
nbformat==5.7.0 ; python_version >= "3.8" and python_version < "3.11"
nest-asyncio==1.5.6 ; python_version >= "3.8" and python_version < "3.11"
networkx==2.8.7 ; python_version >= "3.8" and python_version < "3.11"
nltk==3.7 ; python_version >= "3.8" and python_version < "3.11"
notebook-shim==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
notebook==6.5.2 ; python_version >= "3.8" and python_version < "3.11"
numba==0.56.3 ; python_version >= "3.8" and python_version < "3.11"
numpy==1.21.5 ; python_version >= "3.8" and python_version < "3.11"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.11"
pandas==1.4.1 ; python_version >= "3.8" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.8" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.8" and python_version < "3.11"
pathy==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.11"
pillow==9.2.0 ; python_version >= "3.8" and python_version < "3.11"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.5.2 ; python_version >= "3.8" and python_version < "3.11"
plotly==5.6.0 ; python_version >= "3.8" and python_version < "3.11"
preshed==3.0.8 ; python_version >= "3.8" and python_version < "3.11"
prometheus-client==0.15.0 ; python_version >= "3.8" and python_version < "3.11"
prompt-toolkit==3.0.33 ; python_version >= "3.8" and python_version < "3.11"
psutil==5.9.4 ; python_version >= "3.8" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32" or python_version >= "3.8" and python_version < "3.11" and os_name != "nt"
pure-eval==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
py==1.11.0 ; python_version >= "3.8" and python_version < "3.11" and implementation_name == "pypy"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11"
pydantic==1.8.2 ; python_version >= "3.8" and python_version < "3.11"
pygments==2.13.0 ; python_version >= "3.8" and python_version < "3.11"
pynndescent==0.5.7 ; python_version >= "3.8" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.11"
pyphen==0.13.0 ; python_version >= "3.8" and python_version < "3.11"
pyrsistent==0.19.2 ; python_version >= "3.8" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
pytz==2022.5 ; python_version >= "3.8" and python_version < "3.11"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.11"
pywinpty==2.0.9 ; python_version >= "3.8" and python_version < "3.11" and os_name == "nt"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
pyzmq==24.0.1 ; python_version >= "3.8" and python_version < "3.11"
regex==2022.9.13 ; python_version >= "3.8" and python_version < "3.11"
requests==2.28.1 ; python_version >= "3.8" and python_version < "3.11"
scikit-learn==1.1.3 ; python_version >= "3.8" and python_version < "3.11"
scipy==1.9.3 ; python_version >= "3.8" and python_version < "3.11"
send2trash==1.8.0 ; python_version >= "3.8" and python_version < "3.11"
sentence-transformers==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
sentencepiece==0.1.97 ; python_version >= "3.8" and python_version < "3.11"
setuptools==65.5.0 ; python_version >= "3.8" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
smart-open==5.2.1 ; python_version >= "3.8" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "3.11"
soupsieve==2.3.2.post1 ; python_version >= "3.8" and python_version < "3.11"
spacy-legacy==3.0.10 ; python_version >= "3.8" and python_version < "3.11"
spacy-loggers==1.0.3 ; python_version >= "3.8" and python_version < "3.11"
spacy==3.4.4 ; python_version >= "3.8" and python_version < "3.11"
srsly==2.4.5 ; python_version >= "3.8" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
tenacity==8.1.0 ; python_version >= "3.8" and python_version < "3.11"
terminado==0.17.1 ; python_version >= "3.8" and python_version < "3.11"
textacy==0.12.0 ; python_version >= "3.8" and python_version < "3.11"
thinc==8.1.5 ; python_version >= "3.8" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.8" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.8" and python_version < "3.11"
tokenizers==0.13.1 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.8" and python_version < "3.11"
torch==1.12.1 ; python_version >= "3.8" and python_version < "3.11"
torchvision==0.13.1 ; python_version >= "3.8" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.8" and python_version < "3.11"
tqdm==4.63.0 ; python_version >= "3.8" and python_version < "3.11"
traitlets==5.6.0 ; python_version >= "3.8" and python_version < "3.11"
transformers==4.23.1 ; python_version >= "3.8" and python_version < "3.11"
typer==0.4.2 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "3.11"
umap-learn==0.5.3 ; python_version >= "3.8" and python_version < "3.11"
urllib3==1.26.12 ; python_version >= "3.8" and python_version < "3.11"
wasabi==0.10.1 ; python_version >= "3.8" and python_version < "3.11"
wcwidth==0.2.5 ; python_version >= "3.8" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
websocket-client==1.4.2 ; python_version >= "3.8" and python_version < "3.11"
xgboost==1.6.2 ; python_version >= "3.8" and python_version < "3.11"
zipp==3.10.0 ; python_version >= "3.8" and python_version < "3.10"
